if test -f .envrc.local; then
    # If you don't need nixgl, eg. if you are n NixOS, you can:
    # echo 'use flake .#pure' > .envrc.local
    source_env .envrc.local
else
    # unfree is only required if you use nvidia
    export NIXPKGS_ALLOW_UNFREE=1
    use flake . --impure
fi
